/*header*/
.logo{
    width: 12rem;
    height: auto;
    max-width: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

nav ul a{
    color: aliceblue;
    text-decoration: none;
}

nav ul a:hover{
    text-decoration: underline;
}

/*body*/

.servicos__lista{
    list-style:none ;
}

.servicos__item{
    margin-bottom: 5rem;
}



@media (max-width: 900px) {

    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 2rem;
    }

    nav ul {
        gap: 1.5rem;
        flex-direction: column;
        align-items: flex-start;
    }
}
